* {
  border-radius: 3px;
  border: none;
}

#outer-box {
  /* margin: 5px; */
}

#inner-box {
  border: none;
}

window {
  font-size: 18px;
  font-family: "JetBrainsMono Nerd Font";
  background-color: rgba(50, 50, 50, 0.9);
  color: white;
}

#entry {
  padding: 0.25em;
}

#entry:selected {
  /* background-color: #bbccdd; */
  background: linear-gradient(90deg, #bbccdd, #cca5dd);
}

#text:selected {
  color: #333333;
}

#input {
  background-color: rgba(50, 50, 50, 0.5);
  color: white;
  padding: 0.25em;
  border: none;
}

